<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Bienvenido!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="sidenav">
      <a href="http://127.0.0.1:5000/">Inicio</a>
      <a href="http://127.0.0.1:5000/citas">Agenda una cita</a>
      <a href="http://127.0.0.1:5000/enfermeros">Enfermeros</a>
      <a href="http://127.0.0.1:5000/mis-citas">Mis citas</a>
      <a href="http://127.0.0.1:5000/doctores">Doctores</a>
    </div>
    <div class="container enfermeros">
      <form action="/citas" method="POST">
        <div class="info">
          <h1 id="a">Agendar Cita</h1>
        </div>
        <label for="nombre">Nombre </label>
        <input type="text" id="nombrei" name="nombre" required /><br /><br />

        <label for="fecha">Fecha </label>
        <input type="date" id="fecha" name="fecha" required /><br /><br />

        <label for="hora">Hora </label>
        <input type="time" id="hora" name="hora" required /><br /><br />

        <label for="motivo">Motivo </label>
        <input type="text" id="motivo" name="motivo" required /><br /><br />

        <button id="agendar" type="submit">Agendar cita</button>
      </form>
    </div>
  </body>
</html>
